$milli: 0.25em; // 3.5
$bit: 0.5em;    // 7
$byte: 1em;     // 14
$kilo: 1.5em;   // 21
$mega: 2em;     // 28
$giga: 2.5em;   // 35

$navBarHeight: 60px;
$navWithSearchBarHeight: 117px;

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

// FLEX
.flex {
  display: flex !important 
}
.align_center {
  align-items: center !important 
}
