$primaryColor: #15c850;
$primaryDark: #2bb258;
$secondaryColor: #1D87FF;
$alert: #ED5C5C;

$onPrimary: #ffffff;
$onDark: #ffffff;

$screenBackground: #f3f5f7;
$screenFront: #f5f5f5;
$overScreen: #f7f9fa;
$darkBackground: rgba(0, 0, 0, 0.5);

$blackPrimary: #212121;
$blackPrimaryAlt: rgba(0, 0, 0, 0.87);
$blackPrimaryAltHover: rgba(0, 0, 0, 1);
$blackSecondary: #757575;
$blackSecondaryHover: #6a6a6a;
$blackSecondaryAlt: rgba(0, 0, 0, 0.54);
$blackSecondaryAltHover: rgba(0, 0, 0, 0.7);
$blackNeutral: #9E9E9E;
$blackNeutralAlt: rgba(0, 0, 0, 0.5);
$blackDisabled: #E0E0E0;
$blackDisabled2: #EEEEEE;
$blackDisabledAlt: rgba(0, 0, 0, 0.38);
$blackDisabledAlt2: rgba(0, 0, 0, 0.26);
$blackDivider: rgba(0, 0, 0, 0.18);
$semanticDivider: rgba(34,36,38,.15);

$white900_opaque: rgba(255, 255, 255, 0.9);
$white700_opaque: rgba(255, 255, 255, 0.7);
$white500_opaque: rgba(255, 255, 255, 0.5);
$white300_opaque: rgba(255, 255, 255, 0.3);
$white300: #eff2f4;
$whiteLight: rgb(243, 245, 247);

$facebook: #3A5A98;
$twitter: #1DA1F2;
$instagram: #F56040;
