@import '../../../styles/app.scss';
@import '../../../styles/colors.scss';
@import '../../../styles/typography.scss';

.blh-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: $kilo;
  padding-bottom: 50px;
}

.blh-title-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
  .title {
    font-size: $h6;
    color: $blackSecondaryAlt;
  }
}

.blh-book-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
