@import '../../../styles/app.scss';
@import '../../../styles/colors.scss';

.home-wrapper {
  //margin-top: $navWithSearchBarHeight;
  //padding-top: $kilo;
  // FIXME: ISso tava causando um problema nas outras telas que nao eram a Home
}

.home-selling-section {
  background-color: $darkSoftOverlay;
}

.home-container-wrapper {
  display: flex;
  flex-direction: column;
}
