@import '../../../styles/app.scss';
@import '../../../styles/colors.scss';

.home-wrapper {
  margin-top: $navWithSearchBarHeight;
  padding-top: $kilo;
}

.home-selling-section {
  background-color: $darkSoftOverlay;
}

.home-container-wrapper {
  display: flex;
  flex-direction: column;
}
