.sbs-wrapper {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  .left {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  .right {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
}
