@import '../../../styles/app.scss';
@import '../../../styles/colors.scss';
@import '../../../styles/typography.scss';
@import '../../../styles/mediaQueries.scss';

.sbs-wrapper {
  margin: $byte 0;
  h4 {
    font-size: $h4;
  }
  .sbs-search-row {
    display: flex;
    .input {
      flex: 1;
      margin-right: $byte;
      input {
        border: 1px solid $blackDivider;
      }
    }
    .button {
      background-color: $primary500;
      border: 1px solid $blackDivider;
      color: $onPrimary;
    }
  }
}

@include display-size(phone) {
  .sbs-search-row {
    margin-bottom: $mega;
    .input {
      max-width: 280px;
    }
  }
}
