.slider {
  width: auto;
  margin: 30px 50px 50px !important;
}

.slick-slide {
  padding: 16px;
}

.slick-prev:before,
.slick-next:before {
  color: rgba(0, 0, 0, 0.87);
  &:hover {
    color: black;
  }
}

.slick-dots {
  bottom: -30px;
}
